.cart-count{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-button{
    position: relative;
    width: 45px;
    height: 45px;
    padding: 3px;
}
.cart-button:hover{
    background-color: white;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}