#root {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #06062b;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #06061e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #06062b;
  box-shadow: 0px 0px 40px #0c0121;
  position: sticky;
  top: 0;
}

.nav .nav-logo {
  width: 20%;
  background: transparent;
  padding: 30px;
  height: 100%;
}

.nav .nav-logo span,
.hero .hero-words h1 span {
  color: #ff0000;
  font-size: 30px;
  font-family: cursive;
}

.nav .nav-menu {
  background: #ff0000;
  width: 60%;
  text-align: center;
  padding: 50px;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-shadow: 0px 0px 40px #4b4b7e;
}

.nav .nav-menu a {
  margin: 30px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: 1s;
}

.nav .nav-menu a:hover {
  color: red;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 100%;
}

.nav .cart {
  width: 30%;
  display: flex;
  text-align: center;
  padding: 20px;
}
.nav .cart input{
  width: 70%;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  background: rgb(12, 12, 119);
  box-shadow: inset 0px 0px 20px rgb(1, 1, 17);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  outline: 1px solid;
}

.nav .cart a img {
  width: 40px;
  height: auto;
  /* margin: 25px; */
  object-fit: fill;
  transition: 0.4s;
}

.nav .cart a img:hover {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.hero {
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
  background: linear-gradient(rgb(4, 4, 66),rgba(4, 4, 66, 0.281), rgb(9, 9, 92), rgba(4, 4, 66, 0.185)),url(/images/force.jpg);
  background: linear-gradient(rgba(0, 0, 1, 0.532), rgba(245, 245, 247, 0.509), rgb(4, 4, 66)),url(images/force.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(60%), blue;
}

.hero .hero-words {
  width: 40%;
}

.hero .hero-words h1 {
  color: #fff;
  font-size: 30px;
  line-height: 4ch;
}

.hero .hero-words p {
  color: #fff;
  font-size: 18px;
  line-height: 4ch;
}

.hero .hero-words button {
  width: 50%;
  border: none;
  outline: none;
  color: white;
  background-color: #ff0000;
  border-radius: 10px;
  height: 45px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: 1s;
}

.hero .hero-words button:hover {
  opacity: 0.7;
}

.items {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  place-content: center;
  background: linear-gradient(rgb(4, 4, 66),rgba(4, 4, 66, 0.281), rgb(9, 9, 92), rgba(4, 4, 66, 0.185)),url(/images/force.jpg);
  /* display: flex; */
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}
.items .item-card {
  width: calc(100% - 78%);
  height: auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: 2px solid #ffff;
  margin:  10px 8px;
}

.items .item-card img {
  width: 90%;
  border-radius: 10px;
  height: 250px;
}

.items .item-card h3 {
  line-height: 3ch;
  color: #ff0000;
}

.items .item-card button {
  width: 50%;
  border: none;
  outline: none;
  color: white;
  background-color: #ff0000;
  border-radius: 10px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .nav {
    width: 100%;
  }

  .nav .cart {
    width: 60%;
    text-align: left;
    position: relative;
  }
  
  .cart-count{
    background-color: #4b4b7e;
    width: 20px;
    height: 20px;
    border-radius: 50%;

  }
  .nav .cart img{
    width: 25px;
    height: 25px;
  }

  .nav .nav-logo{
    background:url(images/hero-image.png),#ff0000;
    width: 60%;
    text-align: left;
    padding: 20px;
    border-bottom-right-radius: 100%;
    box-shadow: 0px 0px 40px #4b4b7e;
    }

  .nav .nav-logo h1 {
    font-size: 20px;
  }

  .nav .nav-logo span {
    color: #06062b;
    font-size: 20px;
  }

  .nav .nav-menu {
    display: none;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
  }

  .hero .hero-words {
    margin: 20px;
    width: 100%;
  }

  .hero .hero-words h1 {
    font-size: 40px;
  }

  .hero .hero-image {
    display: none;
  }

  .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center */
  }

  .items .item-card {
    width: 100%;
  }
}
.items .item-card .buttonImage {
  height: 20px;
  width: 20px;
  background: white;
  padding: 4px;
  position: sticky;
  top: 0;
} 
.items .item-card .productdetails{
  text-decoration: none;
  color: white;
}
.items .item-card .productdetails:hover{
  opacity: 0.6;
 
}